fieldset {
  border:none;
  margin-bottom: 0;
  padding: 0;
}
.fieldset-wrapper {
  overflow: hidden;
}
label {
  font-size: 0.85em;
  font-weight:normal;
}

.form-textarea-wrapper textarea{
  width: 95%;
}
select {
  background: none repeat scroll 0 0 #F2F2F2;
  border: 1px solid #DDDDDD;
  color: #999;
  font-size: 0.8em;
  padding: 2px 0 2px 5px;
  border-radius: 5px;
}
input[type="email"], input[type="text"], input[type="password"], textarea , .form-textarea-wrapper textarea{
  background: none repeat scroll 0 0 #F2F2F2;
  border: 1px solid #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  color: #999999;
  font-size: 0.8em;
  padding: 5px 10px;
}

.fieldset-legend {
  color: #868686;
  font-size: 1.5em;
  font-weight: bold;
}
fieldset.checkout-buttons .fieldset-wrapper {
  border:0;
  padding: 0;
}
.form-item, .form-actions {
  margin: 8px 0;
}
.resizable-textarea .grippie {
  display:none
}

/***BOTONES */

input[type="submit"] {
  background: #8DC849;
  border-radius: 8px;
  border: medium none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7em;
  margin-right: 0.5em;
  padding: 6px 15px;
  width: auto;
}
input[type="submit"]:active {
  background:#C9DC3E;
}
input[type="submit"]:hover, .btn-yellow:hover, .form-actions input:hover {
  background: #C9DC3E;
  color:#FFF;
}
