html {
}

body {
  background:url("../images/none.jpg") scroll no-repeat center top #FFF;
  color:#333;
  font-family: 'ElektraLightProRegular';
  font-weight: normal;
  font-size:1em;
  line-height:1.2;
  margin: 0;
}
p {
  font-size:0.85em;
  margin: 10px 0;
}
::selection {
  background: #C9DC3E;
  color: 000;
  text-shadow: none;
}
/* enlaces */

a {
  color:#8DC849;
  text-decoration:none;
}
a:hover {
  color:#C9DC3E;
}

a:active, a.active, li a.active {
  color:#C9DC3E;
}

/* headers */

h1, h2, h3, h4 {
  font-weight:normal;
  margin: 0 0px 15px 0px;
}
h1{
  font-size: 2.4em;
  line-height: 0.8;
  margin-top: 15px;
}
  
h2{
}

h3{
}


/* LISTS */
ul {
  list-style-image: url("../images/bullet.png");
  font-size: 14px;
  font-weight: normal;
  list-style-type: disc;
  margin: 0;
  padding: 0 0 0 20px;
}
ul li{
  margin-bottom: 10px;
}
.item-list ul {
  font-size: 0.85em;
  margin: 0;
}
 ul p{
  color: #666666;
  font-size: 1em;
}
/*OTHER LISTS*/
ul.inline, ul.links.inline {
  margin: 0;
}
/*FULLTABS*/
ul.primary {
  font-weight:bold;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  white-space: nowrap;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #8DC849;
  color:#FFFFFF;
  padding: 10px 15px;
  text-decoration: none;

}
ul.primary li.active a {
  background-color:#DDD;
}
ul.primary li a:hover {
  background-color: #f0f0f0;
  border: none;
}
ul.secondary {
  margin: 5px;
  padding: 0.5em 1em;
}
ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #8DC849;
}
ol li{
  margin-bottom: 5px;
  font-size: 0.9em
}
ol li p{
  font-size: 0.8em;
}
.date-publication{
  font-size: 0.9em;
}

/*****tablas****/
th {
  border: 1px solid #DDD;
  font-size: 0.9em;
}
tbody {
  border-top: 0 none;
}
table input[type="text"]{
  width: auto;
}
/***reloj***/
.ajax-progress.ajax-progress-throbber{
  position: relative;
}
.ajax-progress .throbber {
  position:absolute;
}
.ajax-progress.ajax-progress-throbber .message{
  display: none;
}

.sticky-table .ajax-progress .throbber{
  float: none;
  left:10px;
  *left:200px;
  position:absolute;
  top:-15px;
}