/* This file will hold styles that are loaded using the same media query as the narrow grid. */
html, body{
  min-height: 100%;
}
html{
  height: 100%;
}
#region-content{
	background: #F2F2F2;
}
