/* menu */
.block-menu .contextual-links-region {
    position: static;
}
.block-menu .content > ul.menu{
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.block-menu .content > ul.menu > li{ 
  float:left;
  display:block;
  background-image:none;
  padding: 0;
  margin: 0;
}
.block-menu .content > ul.menu ul{
  padding: 0;
}
.block-menu  .content > ul.menu > li > a{
  background-color: #8DC84A;
  padding: 5px 15px;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0;
  float: left;
  color: #FFF;
}
.block-menu  .content > ul.menu > li > a:hover{
  background-color: #D2E16B;
}
.block-menu .content > ul.menu > li > a.active{
  color: #FFF;

}
.block-menu  .content > ul.menu > li li a{
  color: #000;
  font-size: 1.8em;
  display: block;
  margin: 20px 0 5px;
  line-height: 1;
}
.block-menu  .content > ul.menu > li li{
  float: left;
  list-style: none outside none;
  width: 130px;
  margin: 0 10px;
}
.block-menu  .content > ul.menu > li li li{
  margin: 2px 0;
}
.block-menu  .content > ul.menu  ul{
  margin: 0;
}
.block-menu  .content > ul.menu > li li li a{
  background-color: #8DC84A;
  font-size: 1.2em;
  margin: 0;
}
.block-menu  .content > ul.menu > li li li a:hover {
  color:#FFF;  
}

.block-menu  .content > ul.menu > li li li a:active {
  color:#FFF;  
}

/******main meni******/
.block-main-menu.block-menu  .content > ul.menu > li > a{
    background-color: transparent;
    color: #333333;
    display: block;
    padding: 62px 0 0;
    text-align: center;
    width: 64px;
}
.block-main-menu.block-menu  .content > ul.menu > li {
   margin: 5px 25px;
}
.block-main-menu.block-menu  .content > ul.menu > li > a:hover{
  background-position: 0 -62px;
}
.menu-main-inicio{
  background: url("../images/home-menu.png") no-repeat scroll 0 0 transparent;
}
.menu-main-actividad{
  background: url("../images/actividad-menu.png") no-repeat scroll 0 0 transparent;
}
.menu-main-contactos{
  background: url("../images/contactos-menu.png") no-repeat scroll 0 0 transparent;
}
.menu-main-negocios{
  background: url("../images/negocios-menu.png") no-repeat scroll 0 0 transparent;
}
.menu-main-tareas{
  background: url("../images/tareas-menu.png") no-repeat scroll 0 0 transparent;
}